* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

body, html {
    margin: 0;
}

/* top bar styling */

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #4abdac;
    margin: 0;
    padding: 0;
    height: auto;
}

li {
    float: left;
    padding: 10px;
    text-align: center;
    font-family: avenir;
    font-size: 30px;
    font-weight: 500;
}

li#title {
    margin-left: 20px;
    color: white;
}

a {
    margin: 0;
    overflow: hidden;
}

li.right {
    float: right;
    font-weight: 300;
    color: white;
    margin: 0;
}

li.right:hover {
    background-color: #39ac9b;
}

li:last-child {
    margin-right: 10px;
}